In [2]:
import pandas as pd
import numpy as np
import datetime
from dateutil.relativedelta import relativedelta
from datetime import date

In [3]:
df_eventos = pd.read_csv('Data/01-eventos-consolidados_apenas-free.csv', index_col=0)
df_eventos.head()

,event,time,distinct_id
0,Busca CNPJ,2020-05-03 00:01:27,bqPeiaqE8GpSRuZL6EXewNzVCBuFTAvJ.b5c5e42839712...
1,Busca CNPJ,2020-05-03 00:05:13,bqPeiaqE8GpSRuZL6EXewNzVCBuFTAvJ.b5c5e42839712...
2,Busca CNPJ,2020-05-03 00:09:34,O4nwEphIRGdwTlJoo71hkaHGZsDDtZ6N.9b2a763248cca...
3,Busca CNPJ,2020-05-03 00:09:35,O4nwEphIRGdwTlJoo71hkaHGZsDDtZ6N.9b2a763248cca...
4,Busca CNPJ,2020-05-03 00:09:37,O4nwEphIRGdwTlJoo71hkaHGZsDDtZ6N.9b2a763248cca...

In [4]:
df_perfils = pd.read_csv('Data/02-perfils-higienizados.csv', index_col=0)

### Vamos fazer um merge nas tabelas

In [5]:
df = df_perfils.merge(df_eventos,on='distinct_id')
df.head()

,distinct_id,Browser,city,country_code,created,initial_referring_domain,last_seen,os,region,Source,event,time
0,WNcleXIIU5aelXWAfsCOWd8ndhaDQdl4.e815aac4fb5b3...,Chrome 83.0,Curitiba,BR,2020-05-27 13:52:19,$direct,2020-05-27 16:52:21,Windows,Parana,CC CNPJ - Painel de Dados - Telefones,Busca CNPJ,2020-05-27 16:52:49
1,WNcleXIIU5aelXWAfsCOWd8ndhaDQdl4.e815aac4fb5b3...,Chrome 83.0,Curitiba,BR,2020-05-27 13:52:19,$direct,2020-05-27 16:52:21,Windows,Parana,CC CNPJ - Painel de Dados - Telefones,Busca CNPJ,2020-05-27 16:52:50
2,WNcleXIIU5aelXWAfsCOWd8ndhaDQdl4.e815aac4fb5b3...,Chrome 83.0,Curitiba,BR,2020-05-27 13:52:19,$direct,2020-05-27 16:52:21,Windows,Parana,CC CNPJ - Painel de Dados - Telefones,Busca CNPJ,2020-05-27 16:52:51
3,WNcleXIIU5aelXWAfsCOWd8ndhaDQdl4.e815aac4fb5b3...,Chrome 83.0,Curitiba,BR,2020-05-27 13:52:19,$direct,2020-05-27 16:52:21,Windows,Parana,CC CNPJ - Painel de Dados - Telefones,Painel de Dados,2020-05-27 16:53:05
4,WNcleXIIU5aelXWAfsCOWd8ndhaDQdl4.e815aac4fb5b3...,Chrome 83.0,Curitiba,BR,2020-05-27 13:52:19,$direct,2020-05-27 16:52:21,Windows,Parana,CC CNPJ - Painel de Dados - Telefones,Painel de Dados,2020-05-27 16:53:09

### Agora criar duas variáveis para separar hora de data de acesso

In [6]:
df['Dates'] = pd.to_datetime(df['time']).dt.date
df['Time'] = pd.to_datetime(df['time']).dt.time

In [7]:
df.head()

,distinct_id,Browser,city,country_code,created,initial_referring_domain,last_seen,os,region,Source,event,time,Dates,Time
0,WNcleXIIU5aelXWAfsCOWd8ndhaDQdl4.e815aac4fb5b3...,Chrome 83.0,Curitiba,BR,2020-05-27 13:52:19,$direct,2020-05-27 16:52:21,Windows,Parana,CC CNPJ - Painel de Dados - Telefones,Busca CNPJ,2020-05-27 16:52:49,2020-05-27,16:52:49
1,WNcleXIIU5aelXWAfsCOWd8ndhaDQdl4.e815aac4fb5b3...,Chrome 83.0,Curitiba,BR,2020-05-27 13:52:19,$direct,2020-05-27 16:52:21,Windows,Parana,CC CNPJ - Painel de Dados - Telefones,Busca CNPJ,2020-05-27 16:52:50,2020-05-27,16:52:50
2,WNcleXIIU5aelXWAfsCOWd8ndhaDQdl4.e815aac4fb5b3...,Chrome 83.0,Curitiba,BR,2020-05-27 13:52:19,$direct,2020-05-27 16:52:21,Windows,Parana,CC CNPJ - Painel de Dados - Telefones,Busca CNPJ,2020-05-27 16:52:51,2020-05-27,16:52:51
3,WNcleXIIU5aelXWAfsCOWd8ndhaDQdl4.e815aac4fb5b3...,Chrome 83.0,Curitiba,BR,2020-05-27 13:52:19,$direct,2020-05-27 16:52:21,Windows,Parana,CC CNPJ - Painel de Dados - Telefones,Painel de Dados,2020-05-27 16:53:05,2020-05-27,16:53:05
4,WNcleXIIU5aelXWAfsCOWd8ndhaDQdl4.e815aac4fb5b3...,Chrome 83.0,Curitiba,BR,2020-05-27 13:52:19,$direct,2020-05-27 16:52:21,Windows,Parana,CC CNPJ - Painel de Dados - Telefones,Painel de Dados,2020-05-27 16:53:09,2020-05-27,16:53:09

### Agrupar por ID e contar os valores de data únicos

In [8]:
df_frequency = df.groupby('distinct_id').Dates.nunique().reset_index()

### Usar esse comando para mostrar o nome inteiro da variável...

In [9]:
pd.set_option('display.max_colwidth', -1)
df_frequency.head()

                                                         distinct_id  Dates
0  00JPlpZE7fwEBd02ckdN2USioJFEl48m.926fc147413241ccececdaf2737e3895  1
1  00lEp5f2lHSRkdmPtNUCNvqNwAoH9mV8.820a3738c36c6c1c0696db5d816c573b  4
2  012F3TlZie1i3OqXPiA2MMAMaHkecEgc.b2d86c6fd5ad2f852f1848e2099bcf37  1
3  01PAzfApVUdVGyxAzXO3paELJpAxnLWP.688c75d03aaa1d3a023df9c71fcf4462  1
4  02fq5p4seCKQvt7Tfz6iSTNnKs06j5eO.df53cae9c6fc71d849e3c951c48a750b  3

### ...para testar se está correto, pegando o segundo ID da tabela acima e contando quantos valores temos

In [10]:
teste2 = df[df['distinct_id'].str.contains("00lEp5f2lHSRkdmPtNUCNvqNwAoH9mV8.820a3738c36c6c1c0696db5d816c573b")]

In [11]:
teste2.shape #usando o shape pra conferir quantas linhas; temos 83

(83, 14)

In [12]:
teste2 #da pra ver que não está organizado, então vamos só contar os valores únicos de data

,distinct_id,Browser,city,country_code,created,initial_referring_domain,last_seen,os,region,Source,event,time,Dates,Time
503326,00lEp5f2lHSRkdmPtNUCNvqNwAoH9mV8.820a3738c36c6c1c0696db5d816c573b,Chrome 84.0,Curitiba,BR,2020-07-07 07:02:58,$direct,2020-08-05 14:21:26,Windows,Parana,LA Criar Conta,Busca Segmento,2020-07-07 10:04:15,2020-07-07,10:04:15
503327,00lEp5f2lHSRkdmPtNUCNvqNwAoH9mV8.820a3738c36c6c1c0696db5d816c573b,Chrome 84.0,Curitiba,BR,2020-07-07 07:02:58,$direct,2020-08-05 14:21:26,Windows,Parana,LA Criar Conta,Busca Segmento,2020-07-07 10:04:35,2020-07-07,10:04:35
503328,00lEp5f2lHSRkdmPtNUCNvqNwAoH9mV8.820a3738c36c6c1c0696db5d816c573b,Chrome 84.0,Curitiba,BR,2020-07-07 07:02:58,$direct,2020-08-05 14:21:26,Windows,Parana,LA Criar Conta,Busca Segmento,2020-07-07 11:14:03,2020-07-07,11:14:03
503329,00lEp5f2lHSRkdmPtNUCNvqNwAoH9mV8.820a3738c36c6c1c0696db5d816c573b,Chrome 84.0,Curitiba,BR,2020-07-07 07:02:58,$direct,2020-08-05 14:21:26,Windows,Parana,LA Criar Conta,Busca Segmento,2020-07-08 10:23:10,2020-07-08,10:23:10
503330,00lEp5f2lHSRkdmPtNUCNvqNwAoH9mV8.820a3738c36c6c1c0696db5d816c573b,Chrome 84.0,Curitiba,BR,2020-07-07 07:02:58,$direct,2020-08-05 14:21:26,Windows,Parana,LA Criar Conta,Busca Segmento,2020-07-08 12:39:10,2020-07-08,12:39:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503404,00lEp5f2lHSRkdmPtNUCNvqNwAoH9mV8.820a3738c36c6c1c0696db5d816c573b,Chrome 84.0,Curitiba,BR,2020-07-07 07:02:58,$direct,2020-08-05 14:21:26,Windows,Parana,LA Criar Conta,Salvar no Funil,2020-07-31 15:28:57,2020-07-31,15:28:57
503405,00lEp5f2lHSRkdmPtNUCNvqNwAoH9mV8.820a3738c36c6c1c0696db5d816c573b,Chrome 84.0,Curitiba,BR,2020-07-07 07:02:58,$direct,2020-08-05 14:21:26,Windows,Parana,LA Criar Conta,Salvar no Funil,2020-07-31 15:37:44,2020-07-31,15:37:44
503406,00lEp5f2lHSRkdmPtNUCNvqNwAoH9mV8.820a3738c36c6c1c0696db5d816c573b,Chrome 84.0,Curitiba,BR,2020-07-07 07:02:58,$direct,2020-08-05 14:21:26,Windows,Parana,LA Criar Conta,Salvar no Funil,2020-07-31 15:38:34,2020-07-31,15:38:34
503407,00lEp5f2lHSRkdmPtNUCNvqNwAoH9mV8.820a3738c36c6c1c0696db5d816c573b,Chrome 84.0,Curitiba,BR,2020-07-07 07:02:58,$direct,2020-08-05 14:21:26,Windows,Parana,LA Criar Conta,Salvar no Funil,2020-07-31 15:39:09,2020-07-31,15:39:09
503408,00lEp5f2lHSRkdmPtNUCNvqNwAoH9mV8.820a3738c36c6c1c0696db5d816c573b,Chrome 84.0,Curitiba,BR,2020-07-07 07:02:58,$direct,2020-08-05 14:21:26,Windows,Parana,LA Criar Conta,Salvar no Funil,2020-07-31 15:39:48,2020-07-31,15:39:48

In [13]:
teste2.Dates.nunique() #são 4 datas únicas de acesso, então o df lá em cima está correto.

4

### Agora nomear corretamente a coluna

In [14]:
df_frequency.rename(columns={'Dates':'frequencia'}, inplace=True)

In [15]:
df_frequency.head()

,distinct_id,frequencia
0,00JPlpZE7fwEBd02ckdN2USioJFEl48m.926fc147413241ccececdaf2737e3895,1
1,00lEp5f2lHSRkdmPtNUCNvqNwAoH9mV8.820a3738c36c6c1c0696db5d816c573b,4
2,012F3TlZie1i3OqXPiA2MMAMaHkecEgc.b2d86c6fd5ad2f852f1848e2099bcf37,1
3,01PAzfApVUdVGyxAzXO3paELJpAxnLWP.688c75d03aaa1d3a023df9c71fcf4462,1
4,02fq5p4seCKQvt7Tfz6iSTNnKs06j5eO.df53cae9c6fc71d849e3c951c48a750b,3

### Por último, pegar a tabela final do documento anterior, e juntar tudo

In [16]:
df_perfils_rfdv = pd.read_csv('Data/03-perfils-com-rfdv.csv', index_col=0)

In [17]:
df_perfils_rfdv.head()

,distinct_id,count_eventos,Browser,city,country_code,created,initial_referring_domain,last_seen,os,region,Source,recencia,duracao
0,QKK4JVKAB9BFV2yLVoPCccYAmXI9QwRs.88dcefc39941b5d646f86c6aea4bfbbf,8287,Chrome 84.0,São Paulo,BR,2020-05-08 07:11:46,$direct,2020-07-28 15:34:10,Windows,Sao Paulo,LA Criar Conta,15,81
1,1723852f6f284-05818830b468d6-134b3c29-49d40-1723852f6f33c,5793,Chrome 84.0,Sao Jose do Rio Preto,BR,2020-05-21 11:40:59,leads2b.com,2020-08-05 18:35:38,Windows,Sao Paulo,CC CNPJ - Painel de Dados - E-mails,7,76
2,1724d0fbffc130-045e6b955db998-d373666-100200-1724d0fbffd2f6,4296,Chrome 83.0,Guarapuava,BR,2020-05-25 12:19:35,$direct,2020-06-05 09:17:50,Windows,Parana,LA Criar Conta,68,10
3,SGIRpUNfoHiJMGa2AO7VlWg6mjGlDGHt.27dd4e881e36a6ef779c7945dbac174b,3668,Chrome 84.0,Londrina,BR,2020-05-11 08:15:58,$direct,2020-08-12 13:35:45,Windows,Parana,LA Criar Conta,0,93
4,17231edb3c2d1-023a308ef89129-d373666-1fa400-17231edb3c3568,3403,Chrome 83.0,Salto,BR,2020-05-20 05:52:36,$direct,2020-07-02 17:28:51,Windows,Sao Paulo,LA Criar Conta,41,43

In [18]:
df_consolidado = df_perfils_rfdv.merge(df_frequency,on='distinct_id')

### E exportar o nosso trabalho-final-final-02.docx

In [19]:
df_consolidado.to_csv('Data/03B-perfils-com-rfdv-02.csv')